rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      // Check if the user is an Admin or Manager in the 'users' collection
      return request.auth != null &&
             get(/databases/(default)/documents/users/$(request.auth.uid)).data.role in ['Admin', 'Manager'];
    }

    // Default rule for all files in the bucket
    match /{allPaths=**} {
      // Allow anyone to read any file. This is common for public assets like product images.
      allow read: if true;

      // Only allow authenticated admins or managers to write (create, update, delete) files.
      allow write: if true ;
    }
  }
}
